@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: radial-gradient(circle at 50.4% 50.5%, rgb(75, 64, 229) 10%, rgb(27, 13, 216)90%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
}

h1 {
    font-family: Open-Sans, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.8rem;
    margin: 0.5rem auto;
    padding: 0;
}

h2 {
    font-family: Open-Sans, sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0;
}

h3 {
    font-family: Open-Sans, sans-serif;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 0;
}
